
div.imgwrap{
	overflow:hidden;
	width: 100%;
	position: relative;
	margin-bottom: 2.5em
}

div.imgwrap.portrait{
	margin-bottom: 0.5em;
}

div.imgwrap img{
	width: 100%;

}

/*
div.imgwrap.square{
	width:100px;
	height: 100px;
}

div.imgwrap.square img{
	height: 100%;
}
*/

div.ins div.imgwrap{
	margin-bottom:0;
}

div.imgwrap.mult img{
	display: none;
}	
div.imgwrap.mult img:first-child{
	display: block;
}	

article#top-about img.icon{
	float: left;
}
img.icon{
	width: 40px;
	height: 40px;
}

div.thumbnail-jump{
	margin-bottom: 2.0em;
	overflow: hidden;
	height: 160px;
	opacity: 0.75;
}

div.thumbnail-jump.hover{
	opacity: 1.0;
}